@import 'tailwindcss';

:root {
  --background: #f9fafb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9fafb;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
